main {
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  text-align: center;
  
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #00223b;
  padding: 0px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}
.navbar li {
  margin: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}
.navbar a:hover {
  background-color: #011d32;
}




body {
  background: url();
  background-color: #003153;
  background-position: inherit;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #f0eeee;
  text-align: center;
  font-size: 50px;
  padding: 5cm;
  background-color:#01233c;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.About {
  
  margin: 1cm;
  background-color: #1d4463;
  
}

.Experience {
  margin: 2cm;
  background-color: #1d4463;
  padding-bottom: 10px;
}


.img-container{
  display: flex;
  flex-flow: column wrap;
 justify-content: center;
 align-items: center;
  gap: 0.5cm;
  max-width: 100%;
  margin-top: 2cm ;
  margin-bottom: 2cm;
}




a {
  text-align: center;
  color: #cbdff1;
  font-size: 20px;
}

.Skills {
  text-align: center;
  color: white;
  padding: 20px;
}

.List-container {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  padding-top: 20px;
}

.categoria {
  background-color: #1d4463; 
  padding: 20px;
  flex: 1; 
  text-align: center;
}

.categoria ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categoria h3 {
  text-align: center;
  font-size: 30px;
}

button{
  color: white;
  background-color: #2d6593;
  padding: 20px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  margin:0.2cm;
}

button:hover{
  background-color: #2b5d87;
}

footer{
 text-align: center;
 padding: 0;
 margin: 0;
 background-color:  #00223b ;
  
}

footer a{
align-self: center;
}


footer img{
 
  height: 50px;
  width: 50px;
  
}

.Link-Container{
  display: flex;
  
}

.Links{
  display: flex;
 justify-content: center;
 gap: 50px;
  padding: 10px;
  
}

p{
  color: white;
  margin-left: 10px;
} 

.CV{
text-align: center;
font-size: 30px;
background-color: #183852 ;
}

.CV a{
  font-size: 30px;
}